<head th:fragment="header">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/jsgrid.min.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/jsgrid-theme.min.css}"/>
	<link rel="stylesheet" type="text/css" href="webjars/jquery-ui/1.12.0/jquery-ui.min.css"/>
	<link rel="stylesheet" type="text/css" href="webjars/jquery-ui/1.12.0/jquery-ui.structure.min.css"/>
	<link rel="stylesheet" type="text/css" href="webjars/jquery-ui/1.12.0/jquery-ui.theme.min.css"/>
		<link rel="stylesheet" type="text/css" th:href="@{/css/edit.css}"/>
	
	<script type="text/javascript" src="webjars/jquery/3.2.1/jquery.min.js"></script>
	<script type="text/javascript" src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="webjars/jquery-ui/1.12.0/jquery-ui.min.js"></script>	
	<script type="text/javascript" src="webjars/jquery-validation/1.17.0-1/jquery.validate.min.js"></script>	
	<script type="text/javascript" th:src="@{/javascript/jsgrid.min.js}"></script>
	<script type="text/javascript" th:src="@{/javascript/crud.js}"></script>
	
	<meta name="_csrf" th:content="${_csrf.token}"/>
	<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>